@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;

    --color-primary: #e60076;
    --color-background: #0B0B0F;
    --color-primary-hover: #c6005c;

    --color-border: #c6005c;

    /* 448px */
    --breakpoint-xs: 28rem;
    /* 640px */
    --breakpoint-sm: 40rem;
    /* 768px */
    --breakpoint-md: 48rem;
    /* 1024px */
    --breakpoint-lg: 64rem;
    /* 1280px */
    --breakpoint-xl: 77.5rem;
    /* 1480px */
    --breakpoint-2xl: 92.5rem;
    /* 1600px */
    --breakpoint-3xl: 100rem;
}

body {
    @apply bg-background text-white text-sm antialiased font-poppins scroll-smooth;
}

body::selection {
    @apply bg-primary text-white;
}

button {
    @apply cursor-pointer;
}

.move-gradient {
    background-image: linear-gradient(to right, var(--color-pink-500), var(--color-pink-300));
    background-size: 200% 100%;
    animation: movegradient 5s infinite;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes movegradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.popover-thumbnail-style-button {
    anchor-name: --thumbnail-style-button;
}

.popover-thumbnail-style {
    position-anchor: --thumbnail-style-button;
    z-index: 1000;
    margin: 0;
    inset: auto;
    position: absolute;
    left: anchor(left);
    top: anchor(bottom);
    width: anchor-size(width);
    animation: fadeIn 0.2s ease;

}

.popover-thumbnail-style:popover-open {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}